.turn {
  display: flex;
  flex-direction: column;
  gap: var(--space-spacing-m);
  width: 100%;
  flex-shrink: 0;
}

.bot {
  align-items: flex-start;
  padding-right: var(--space-padding);
}

.user {
  align-items: flex-end;
  padding-left: var(--space-padding);
}

.event {
  align-items: flex-start;
  padding-right: var(--space-padding);
}
